.hero{
  padding-top: 23px;

  &__body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .wrapper{
    .hero__content{
      img{
        max-width: 100%;
      }
    }
  }

  &__burger-wrapper{
    position: relative;
    margin-bottom: 23px;
  }

  &__burger{
    width: 44px;
    height: 37px;
    background-color: #000000;
    cursor: pointer;
    position: relative;

    &:before{
      content: "";
      width: 17px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 14px;
      left: 50%;
      transform: translateX(-47%);
      transition: all 0.3s ease 0s;
    }

    &:after{
      content: "";
      width: 17px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 22px;
      left: 50%;
      transform: translateX(-47%);
      transition: all 0.3s ease 0s;
    }

    span{
      display: block;
      width: 17px;
      height: 2px;
      background-color: #ffffff;
      position: relative;
      top: 18px;
      left: 14px;
    }
    //cross animation start
    &.active{
      span{
        display: none;
      }
    }

    &.active:before{
      transform: rotate(45deg);
      top: 17px;
      left: 31%;
    }

    &.active:after{
      transform: rotate(-45deg);
      top: 17px;
      left: 32%;
    }
    //cross animation end

  }
  .active{
    display: block;
  }

  &__menu{
    display: none;
    position: absolute;
    left: -138px;
    right: 0px;
    top: 36px;
    ul{
      background-color: #F5F5F5;
      max-width: 182px;
      li{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 12px;

        &:hover .item-hero{
          color: #57A4A4;
        }
        &:hover{
          background: #E5E5E5;
        }

        .item-hero{
          font-family: $paragraph-font;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 22px;
          letter-spacing: 1.1px;
          text-transform: uppercase;
          color: #4E4E4E;
          padding-bottom-bottom: 8px;

        }
      }
    }
  }
}
.test{
  color: red;
}
@import "media";