@media (min-width: $tablet) {

  .hero{

    &__burger-wrapper{
      position: static;
      margin-bottom: 43px;
      margin-top: 41px;
    }

    &__burger{
      display: none;
    }

    &__body{
      display: block;               //
      //flex-direction: column;
      //align-items: center;
      //justify-content: space-between;
    }

    &__menu{
      display: block;
      position: static;
      ul{
        max-width: 100%;
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        justify-content: space-around;

        li:hover{
          background: transparent;
        }

        li{
          padding-left: 17px;
          padding-right: 17px;
        }
      }
    }
  }
  .wrapper{
    .hero__content{
      display: flex;
      justify-content: center;
      img{
        max-width: 100%;
      }
    }
  }
}
