.footer{
  text-align: center;

  &__background{
    background: #000000;
  }

  &__title{
    color: #FEFEFE;
    padding-bottom: 8px;
    padding-top: 38px;
  }

  &__subtitle{
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    padding-bottom: 26px;
  }

  &__contacts{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    padding-bottom: 47px;
  }

  &__contact-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;


    .icon-rss{
      background-image: url('../img/04_footer/img/RSS.svg');
      width: 34px;
      height: 34px;
      margin-right: 6px;
    }

    .icon-fb{
      background-image: url('../img/04_footer/img/Facebook.svg');
      width: 34px;
      height: 34px;
      margin-right: 6px;
    }

    .icon-twitter{
      background-image: url('../img/04_footer/img/Twitter.svg');
      width: 34px;
      height: 34px;
      margin-right: 6px;
    }

    .icon-dribbble{
      background-image: url('../img/04_footer/img/Dribbble.svg');
      width: 34px;
      height: 34px;
      margin-right: 6px;
    }

    .icon-pinterest{
      background-image: url('../img/04_footer/img/Pinterest.svg');
      width: 34px;
      height: 34px;
    }
  }
}
@import "media";