.wrapper{
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1150px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

body{
  font-family: $paragraph-font;
  font-style: normal;
}