.posts{

  &__wrapper{
    //padding-top: 38px;
  }

}

.section-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: $title-color;
}

.item-posts__title{
  padding-top: 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: $title-color;

}
.item-posts__subtitle{
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: $subtext-color;
  padding-bottom: 28.5px;
}
.posts-hidden{
  display: none;
}
.posts__header{
  padding-top: 38px;
  padding-bottom: 23px;
}
.item-posts__text{
  display: none;
}
@import "media";